USE [Videorent-b]
GO
/****** Object:  Table [dbo].[Anagrafica Clienti]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Anagrafica Clienti](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nome_azienda] [nvarchar](50) NULL,
	[Indirizzo] [nvarchar](50) NULL,
	[CAP] [nvarchar](50) NULL,
	[Città] [nvarchar](50) NULL,
	[Provincia] [nvarchar](50) NULL,
	[PIVA] [nvarchar](50) NULL,
	[Referente] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Cellulare] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[e-mail] [nvarchar](50) NULL,
	[web] [nvarchar](50) NULL,
	[note1] [nvarchar](max) NULL,
	[note2] [nvarchar](max) NULL,
	[note3] [nvarchar](max) NULL,
	[sconto cliente] [smallint] NULL,
	[Codice Fiscale] [nvarchar](50) NULL,
	[Referente Videorent] [varchar](50) NULL,
	[Forma di pagamento] [nvarchar](50) NULL,
 CONSTRAINT [PK_Anagrafica Clienti] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Aree servizi]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aree servizi](
	[Id_area] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](50) NULL,
 CONSTRAINT [PK_Aree servizi] PRIMARY KEY CLUSTERED 
(
	[Id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[conteggio importi]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conteggio importi](
	[Descrizione] [nvarchar](50) NULL,
	[quantità] [int] NULL,
	[Listino] [money] NULL,
	[Sconto] [real] NULL,
	[Importo_sconto] [float] NULL,
	[Importo] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DDT]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DDT](
	[id_DDT] [int] IDENTITY(1,1) NOT NULL,
	[n_DDT] [nvarchar](50) NULL,
	[data_DDT] [datetime] NULL,
	[Trasporto] [nvarchar](50) NULL,
	[Aspetto] [nvarchar](50) NULL,
	[DataTrasporto] [nvarchar](50) NULL,
	[OraTrasporto] [nvarchar](50) NULL,
	[Causale] [nvarchar](50) NULL,
	[Vettore] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Errori di incollamento]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errori di incollamento](
	[ID_Tecnico] [int] NULL,
	[Nome] [nvarchar](255) NULL,
	[Cognome] [nvarchar](255) NULL,
	[Telefono] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[e-mail] [nvarchar](255) NULL,
	[indirizzo] [nvarchar](255) NULL,
	[città] [nvarchar](255) NULL,
	[cellulare] [nvarchar](255) NULL,
	[Tariffa ore Assistenza] [money] NULL,
	[Tariffa ore Allestimento] [money] NULL,
	[Tariffa ore Viaggio] [money] NULL,
	[Tariffa ore Bunker] [money] NULL,
	[Ore_allestimento] [real] NULL,
	[Ore_assistenza] [real] NULL,
	[Ore_Viaggio] [real] NULL,
	[Ore Bunker] [real] NULL,
	[Mese] [int] NULL,
	[Anno] [int] NULL,
	[Tariffa ASS NEW] [money] NULL,
	[Tariffa ALLVIABUNK NEW] [money] NULL,
	[Somma Ore] [int] NULL,
	[colore] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lavori]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lavori](
	[ID_lavoro] [int] IDENTITY(1,1) NOT NULL,
	[ID_cliente] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[Città] [nvarchar](50) NULL,
	[Data allestimento] [datetime] NULL,
	[Data inizio] [datetime] NULL,
	[Data fine] [datetime] NULL,
	[Note] [nvarchar](1000) NULL,
	[Inviato] [bit] NULL CONSTRAINT [DF_Lavori_Inviato]  DEFAULT ((0)),
	[Evidenzia] [bit] NULL CONSTRAINT [DF_Lavori_Evidenzia]  DEFAULT ((0)),
	[ID_preventivo] [int] NULL,
	[Riferimento] [nvarchar](255) NULL,
	[Note_Fattura] [nvarchar](max) NULL,
	[ts] [timestamp] NULL,
 CONSTRAINT [PK_Lavori] PRIMARY KEY CLUSTERED 
(
	[ID_lavoro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Monitoraggio_Pagamenti]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitoraggio_Pagamenti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_preventivo] [int] NULL,
	[Anagrafica Clienti_ID_Cliente] [float] NULL,
	[Nome_azienda] [nvarchar](255) NULL,
	[ID_lavoro] [float] NULL,
	[Lavori_ID_cliente] [float] NULL,
	[Città] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Data allestimento] [datetime] NULL,
	[Data fine] [datetime] NULL,
	[Data inizio] [datetime] NULL,
	[Data fattura] [datetime] NULL,
	[Pagamento effettuato] [bit] NOT NULL,
	[Scadenza fattura] [datetime] NULL,
	[Data Pagamento] [datetime] NULL,
	[Ritardo Pagamento] [int] NULL,
	[Note] [nvarchar](255) NULL,
	[note1] [nvarchar](255) NULL,
	[note3] [nvarchar](255) NULL,
	[Inviato] [bit] NOT NULL,
	[sconto cliente] [float] NULL,
	[Evidenzia] [bit] NOT NULL,
	[Riferimento] [nvarchar](255) NULL,
	[Importo] [money] NULL,
	[numero Fattura] [nvarchar](255) NULL,
 CONSTRAINT [PK_Monitoraggio_Pagamenti] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[pacchetti]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pacchetti](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pacchetto] [int] NULL,
	[id_servizio] [int] NULL,
	[quantità] [int] NULL,
	[Note] [nvarchar](255) NULL,
 CONSTRAINT [PK_pacchetti] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[preventivi]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preventivi](
	[ID_preventivo] [int] IDENTITY(1,1) NOT NULL,
	[ID_cliente] [int] NULL,
	[Location] [nvarchar](50) NULL,
	[Città] [nvarchar](50) NULL,
	[Indirizzo location] [nvarchar](255) NULL,
	[Note location] [nvarchar](255) NULL,
	[Data Preventivo] [datetime] NULL,
	[Data allestimento] [datetime] NULL,
	[Ora allestimento] [datetime] NULL,
	[Data inizio] [datetime] NULL,
	[Ora inizio] [datetime] NULL,
	[Data fine] [datetime] NULL,
	[Ora fine] [datetime] NULL,
	[Data disallestimento] [datetime] NULL,
	[Ora disallestimento] [datetime] NULL,
	[TabellaTariffeTLV] [bit] NULL CONSTRAINT [DF_preventivi_TabellaTariffeTLV]  DEFAULT ((0)),
	[Note] [nvarchar](max) NULL,
	[Accessori vari] [nvarchar](max) NULL,
	[Informazioni utili] [nvarchar](max) NULL,
	[Riferimento] [nvarchar](255) NULL,
	[Fatturato] [bit] NULL CONSTRAINT [DF_preventivi_Fatturato]  DEFAULT ((0)),
	[Confermato] [bit] NULL CONSTRAINT [DF_preventivi_Confermato]  DEFAULT ((0)),
	[id_DDT] [int] NULL,
	[planner] [bit] NULL CONSTRAINT [DF_preventivi_planner]  DEFAULT ((1)),
	[annullato] [bit] NULL CONSTRAINT [DF_preventivi_annullato]  DEFAULT ((0)),
	[conteggio] [bit] NULL CONSTRAINT [DF_preventivi_conteggio]  DEFAULT ((0)),
	[pagamento] [nvarchar](max) NULL,
	[gruppo] [nvarchar](max) NULL,
	[sconto cliente] [float] NULL CONSTRAINT [DF_preventivi_sconto cliente]  DEFAULT ((0)),
	[ts] [timestamp] NULL,
	[id_referente_videorent] [int] NULL,
	[Note_fatturazione] [nvarchar](max) NULL,
 CONSTRAINT [PK_preventivi] PRIMARY KEY CLUSTERED 
(
	[ID_preventivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Referenti_Videorent]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referenti_Videorent](
	[id_referente_Videorent] [int] NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[cognome] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Referenti_Videorent] PRIMARY KEY CLUSTERED 
(
	[id_referente_Videorent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ricavi suddivisi per servizi]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ricavi suddivisi per servizi](
	[Area] [nvarchar](50) NULL,
	[Descrizione] [nvarchar](50) NULL,
	[SommaDiquantità] [smallint] NULL,
	[SommaDiListino] [money] NULL,
	[MediaDiSconto] [money] NULL,
	[SommaDiImporto] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[servizi a pacchetto]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servizi a pacchetto](
	[id_pacchetto] [int] IDENTITY(1,1) NOT NULL,
	[descrizione] [nvarchar](50) NULL,
 CONSTRAINT [PK_servizi a pacchetto] PRIMARY KEY CLUSTERED 
(
	[id_pacchetto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servizi disponibili]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servizi disponibili](
	[ID_servizio] [int] IDENTITY(1,1) NOT NULL,
	[ID_area] [smallint] NULL,
	[Descrizione] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[limitato] [bit] NULL CONSTRAINT [DF_Servizi disponibili_limitato]  DEFAULT ((0)),
	[n_pezzi] [int] NULL,
	[visualizzaInDDT] [bit] NULL CONSTRAINT [DF_Servizi disponibili_visualizzaInDDT]  DEFAULT ((0)),
	[visualizzaInScheda] [bit] NULL CONSTRAINT [DF_Servizi disponibili_visualizzaInScheda]  DEFAULT ((0)),
	[visualizzaInFattura] [bit] NULL CONSTRAINT [DF_Servizi disponibili_visualizzaInFattura]  DEFAULT ((0)),
	[Scontabile] [bit] NULL,
	[Costo_base] [numeric](18, 2) NULL,
	[Parametrico] [bit] NULL,
	[Metodo] [int] NULL,
	[Costo_1] [numeric](18, 2) NULL,
	[Costo_2] [numeric](18, 2) NULL,
	[Costo_3] [numeric](18, 2) NULL,
	[Costo_4] [numeric](18, 2) NULL,
	[Costo_5] [numeric](18, 2) NULL,
	[Costo_6] [numeric](18, 2) NULL,
	[Costo_7] [numeric](18, 2) NULL,
	[Costo_8] [numeric](18, 2) NULL,
	[Costo_9] [numeric](18, 2) NULL,
	[Costo_10] [numeric](18, 2) NULL,
	[extra] [nvarchar](50) NULL,
 CONSTRAINT [PK_Servizi disponibili] PRIMARY KEY CLUSTERED 
(
	[ID_servizio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servizi preventivati]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servizi preventivati](
	[ID_Servizi_Preventivati] [int] IDENTITY(1,1) NOT NULL,
	[ID_preventivo] [int] NULL,
	[ID_servizio] [int] NULL,
	[quantità] [real] NULL,
	[giorni] [int] NULL,
	[Listino] [money] NULL,
	[Sconto] [real] NULL CONSTRAINT [DF_Servizi preventivati_Sconto]  DEFAULT ((0)),
	[Importo] [money] NULL,
	[note_articolo] [nvarchar](255) NULL,
	[Escludi_da_preventivo] [bit] NULL CONSTRAINT [DF_Servizi preventivati_Escludi_da_preventivo]  DEFAULT ((0)),
	[ts] [timestamp] NULL,
	[ordine] [int] NULL,
 CONSTRAINT [PK_Servizi preventivati] PRIMARY KEY CLUSTERED 
(
	[ID_Servizi_Preventivati] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servizi preventivati.old]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servizi preventivati.old](
	[ID_Servizi_Preventivati] [int] IDENTITY(1,1) NOT NULL,
	[ID_preventivo] [int] NULL,
	[ID_servizio] [int] NULL,
	[quantità] [real] NULL,
	[giorni] [int] NULL,
	[Listino] [money] NULL,
	[Sconto] [real] NULL,
	[Importo] [money] NULL,
	[note_articolo] [nvarchar](255) NULL,
	[Escludi_da_preventivo] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Servizi Richiesti]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servizi Richiesti](
	[ID_Servizi_Richiesti] [int] IDENTITY(1,1) NOT NULL,
	[ID_lavoro] [int] NULL,
	[ID_servizio] [int] NULL,
	[quantità] [real] NULL,
	[giorni] [int] NULL,
	[Listino] [money] NULL,
	[Sconto] [real] NULL,
	[Importo] [money] NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Servizi Richiesti] PRIMARY KEY CLUSTERED 
(
	[ID_Servizi_Richiesti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tecnici]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnici](
	[ID_Tecnico] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NULL,
	[Cognome] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
	[note] [nvarchar](255) NULL,
	[e-mail] [nvarchar](50) NULL,
	[indirizzo] [nvarchar](50) NULL,
	[città] [nvarchar](50) NULL,
	[cellulare] [nvarchar](50) NULL,
	[Tariffa ore Assistenza] [money] NULL,
	[Tariffa ore Allestimento] [money] NULL,
	[Tariffa ore Viaggio] [money] NULL,
	[Tariffa ore Bunker] [money] NULL,
	[Ore_allestimento] [real] NULL,
	[Ore_assistenza] [real] NULL,
	[Ore_Viaggio] [real] NULL,
	[Ore Bunker] [real] NULL,
	[Mese] [int] NULL,
	[Anno] [int] NULL,
	[Tariffa ASS NEW] [money] NULL,
	[Tariffa ALLVIABUNK NEW] [money] NULL,
	[Somma Ore] [int] NULL,
	[colore] [int] NULL,
 CONSTRAINT [PK_Tecnici] PRIMARY KEY CLUSTERED 
(
	[ID_Tecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tecnici preventivati]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnici preventivati](
	[ID_tecnici_Preventivati] [int] IDENTITY(1,1) NOT NULL,
	[ID_preventivo] [int] NULL,
	[ID_Tecnico] [int] NULL,
	[Conferma tecnico] [bit] NULL CONSTRAINT [DF_Tecnici preventivati_Conferma tecnico]  DEFAULT ((0)),
	[Tecnico contattato] [datetime] NULL,
	[Ore_allestimento] [real] NULL,
	[Ore_assistenza] [real] NULL,
	[Ore_Viaggio] [real] NULL,
	[Ore Bunker] [real] NULL,
	[Gruppo] [nvarchar](max) NULL,
	[ID_lavoro] [int] NULL,
	[ts] [timestamp] NULL,
	[data_allestimento_tecnico] [datetime] NULL,
	[ora_allestimento_tecnico] [datetime] NULL,
	[data_inizio_tecnico] [datetime] NULL,
	[ora_inizio_tecnico] [datetime] NULL,
	[data_fine_tecnico] [datetime] NULL,
	[ora_fine_tecnico] [datetime] NULL,
	[data_disallestimento_tecnico] [datetime] NULL,
	[ora_disallestimento_tecnico] [datetime] NULL,
 CONSTRAINT [PK_Tecnici preventivati] PRIMARY KEY CLUSTERED 
(
	[ID_tecnici_Preventivati] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ultimo_DDT]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ultimo_DDT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UltimoDDT] [int] NULL,
 CONSTRAINT [PK_Ultimo_DDT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[utente_attivo]    Script Date: 24/10/2025 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utente_attivo](
	[utente] [smallint] NULL,
	[id_preventivo] [int] NULL,
	[percorso] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
